.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #faeedb;
  padding: 20px 50px;
  font-family: "Garet", sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/* LEFT */
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 50px;
  object-fit: contain;
}

.navbar-title {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  color: #000;
}

.navbar-home-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.navbar-home-link:hover .navbar-title {
  color: #c0392b;
}

/* RIGHT */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 22px;
}

/* ICONS */
.nav-icon {
  font-size: 28px;
  color: #000;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-icon:hover {
  color: #e85d75;
}
